type thermal_monitor, domain;
type thermal_monitor_exec, exec_type, file_type;

init_daemon_domain(thermal_monitor)

# Permissões necessárias
allow thermal_monitor sysfs:file rw_file_perms;
allow thermal_monitor hwservicemanager_prop:property_service set;
allow thermal_monitor self:capability sys_admin;
allow thermal_monitor kernel:system syslog_read;
