# downloaded apps seem to run as unstrusted_app
unix_socket_connect(untrusted_app, phsd, ussrd)
unix_socket_send(untrusted_app, phsd, ussrd)

allow untrusted_app phsd_data:sock_file { write };

# /dev/tegra-throughput
allow untrusted_app throughput_device:chr_file { open read write ioctl };

# tegra_sema
#allow untrusted_app video_device:chr_file { open read write ioctl };

# camera app access sys/devices/soc*/...
allow untrusted_app sysfs_soc:file r_file_perms;
allow untrusted_app sysfs_soc:dir r_dir_perms;

# com.nvidia.NvCPLSvc
allow untrusted_app system_app_data_file:dir search;

allow untrusted_app tsec_device:chr_file rw_file_perms;
