#type su, domain;
#type su_exec, exec_type, file_type;

init_daemon_domain(su)

allow su self:process { fork sigchld };
allow su su_exec:file { execute getattr };

neverallow {
    domain
    -su
} su:process transition;
neverallow * su:process dyntransition;
